<div class="body-inner">
    <div class="book-header" role="navigation">
        <!-- Title -->
        <h1>
            <i class="fa fa-circle-o-notch fa-spin"></i>
            {% if page.title %}
                <a href="." >{{ page.title | escape }}</a>
            {% else %}
                <a href="/" >{{ site.title | escape }}</a>
            {% endif %}
        </h1>
    </div>
    <div class="page-wrapper" tabindex="-1" role="main">
        <div class="page-inner">
            <div id="book-search-results">
                <div class="search-noresults">
                    <section class="normal markdown-section">

                        <div class="alert alert-warning" role="alert" style="margin-bottom: 20px;">
                            <strong>⚠️ Outdated Documentation:</strong> You are viewing the documentation for prooph board v1. For the latest version, please visit the <a href="https://flow.prooph-board.com/docs/" class="alert-link">prooph board v2 documentation</a>.
                        </div>

                        {% if page.headline %}
                            <!--suppress XmlDuplicatedId -->
                        <h1 id="{{ page.id }}" style="text-align: center; padding-bottom: 40px;text-transform: uppercase">{{ page.headline | escape }}</h1>
                        {% elsif page.title %}
                            <!--suppress XmlDuplicatedId -->
                        <h1 id="{{ page.id }}" style="text-align: center; padding-bottom: 40px;text-transform: uppercase">{{ page.title | escape }}</h1>
                        {% endif %}

                        {{ content }}
                    </section>
                </div>

                 {%- include search.html -%}
            </div>
        </div>
    </div>
</div>
