<div class="book-summary">
    <div id="logo-container">
        <a href="/"><img src="{{site.baseurl}}/assets/images/prooph-board-logo.png" alt="Logo" width="200" /></a>
        <p class="markdown-section">by <a href="http://prooph.de" rel="noopener nofollow" target="_blank">prooph software</a></p>
    </div>
    <div id="book-search-input" role="search">
        <input type="text" placeholder="Type to search" />
    </div>
    <nav role="navigation">
        <ul class="summary">
            <li class="chapter"><h4>Event Storming<span id="es-accordion" class="accordion-indicator"></span></h4></li>
            {% for col_page in site.event_storming %}
            {% if page.url == col_page.url %}
            <li class="chapter active es-accordion accordion-hidden" data-level="1.2" data-path="{{site.baseurl}}{{col_page.url}}">
                {% else %}
            <li class="chapter es-accordion accordion-hidden" data-level="1.1" data-path="{{site.baseurl}}{{col_page.url}}">
                {% endif %}
                <a href="{{site.baseurl}}{{col_page.url}}">
                    {%- if col_page.sidebar_label -%}
                    {{col_page.sidebar_label | escape }}
                    {%- else -%}
                    {{ col_page.title | escape }}
                    {%- endif -%}
                </a>
                {% if site.toc.enabled %}
                {% if page.url == col_page.url %}
                {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                {% endif %}
                {% endif %}
            </li>
            {% endfor %}

            <li class="divider"></li>
            <li class="chapter"><h4>Board Workspace<span id="ws-accordion" class="accordion-indicator"></span></h4></li>
            {% for workspace_page in site.board_workspace %}
            {% if page.url == workspace_page.url %}
            <li class="chapter active ws-accordion accordion-hidden" data-level="1.2" data-path="{{site.baseurl}}{{workspace_page.url}}">
                {% else %}
            <li class="chapter ws-accordion accordion-hidden" data-level="1.1" data-path="{{site.baseurl}}{{workspace_page.url}}">
                {% endif %}
                <a href="{{site.baseurl}}{{workspace_page.url}}">
                    {%- if page.sidebar_label -%}
                    {{page.sidebar_label | escape }}
                    {%- else -%}
                    {{ workspace_page.title | escape }}
                    {%- endif -%}
                </a>
                {% if site.toc.enabled %}
                {% if page.url == workspace_page.url %}
                {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                {% endif %}
                {% endif %}
            </li>
            {% endfor %}

            <li class="divider"></li>
            <li class="chapter"><h4>Organization & Teams<span id="og-accordion" class="accordion-indicator"></span></h4></li>
            {% for col_page in site.access_management %}
            {% if page.url == col_page.url %}
            <li class="chapter active og-accordion accordion-hidden" data-level="1.2" data-path="{{site.baseurl}}{{col_page.url}}">
                {% else %}
            <li class="chapter og-accordion accordion-hidden" data-level="1.1" data-path="{{site.baseurl}}{{col_page.url}}">
                {% endif %}
                <a href="{{site.baseurl}}{{col_page.url}}">
                    {%- if col_page.sidebar_label -%}
                    {{col_page.sidebar_label | escape }}
                    {%- else -%}
                    {{ col_page.title | escape }}
                    {%- endif -%}
                </a>
                {% if site.toc.enabled %}
                {% if page.url == col_page.url %}
                {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                {% endif %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </nav>
    <footer>
        <p class="markdown-section">
            Join the community on <a href="https://gitter.im/proophboard/community" target="_blank" rel="noopener noreferrer">Gitter</a> or <a href="https://www.linkedin.com/groups/9135097/" target="_blank" rel="noopener noreferrer">LinkedIn</a>.<br/>
            <br/>
            <a href="https://github.com/proophboard/issue-tracker/issues">Issues & RFCs</a><br/>
        </p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/codeliner">codeliner</a></small></p>
    </footer>
</div>
