<div class="book-summary">
    <script type="text/javascript">
      // Fixes the page links scroll problem on both desktop and mobile browsers
      function pageScrollToTop(element) {
        // both mobile and non-mobile
        $('div.body-inner').animate({scrollTop: 0});
        $(element).parent().find('li>ul>li').removeClass('active');
        return true;  // propagate
      }
      // Fixes the anchor links scroll problem on mobile browsers
      function mobilePageScrollToAnchor(element) {
        $(element).closest('li.chapter').find('ul>li').removeClass('active');
        $(element).parent().addClass('active');
        if ($(document).width() <= 1240) {
          let target = $($(element).attr('href'));
          if (target.length) {
            $('div.body-inner').animate({
              scrollTop: target.get(0).offsetTop,
            });
          }
        }
        return true;
      }
    </script>

    <div id="logo-container">
        <a href="https://prooph-board.com"><img src="{{site.baseurl}}/assets/images/prooph-board-logo.png" alt="Logo" width="200" /></a>
        <p class="markdown-section">by <a href="http://prooph.de" rel="noopener nofollow" target="_blank">prooph software</a></p>
    </div>
    <div id="book-search-input" role="search">
        <input type="text" placeholder="Type to search" />
    </div>
    <nav role="navigation">
        <ul class="summary">
            <li class="chapter"><h4>Getting Started<span id="gs-accordion" class="accordion-indicator"></span></h4></li>
            {% assign col_pages = site.getting_started | sort: "toc_order" %}
            {% for col_page in col_pages %}
            {% if page.url == col_page.url %}
            <li class="chapter active gs-accordion accordion-hidden" data-level="1.2" data-path="{{site.baseurl}}{{col_page.url}}">
                {% else %}
            <li class="chapter gs-accordion accordion-hidden" data-level="1.1" data-path="{{site.baseurl}}{{col_page.url}}">
                {% endif %}
                <a href="{{site.baseurl}}{{col_page.url}}" onclick="pageScrollToTop(this)">
                    {%- if col_page.sidebar_label -%}
                    {{col_page.sidebar_label | escape }}
                    {%- else -%}
                    {{ col_page.title | escape }}
                    {%- endif -%}
                </a>
                {% if site.toc.enabled %}
                {% if page.url == col_page.url %}
                {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                {% endif %}
                {% endif %}
            </li>
            {% endfor %}

            <li class="divider"></li>
            <li class="chapter"><h4>Event Storming Basics<span id="es-accordion" class="accordion-indicator"></span></h4></li>
            {% assign col_pages = site.event_storming | sort: "toc_order" %}
            {% for col_page in col_pages %}
            {% if page.url == col_page.url %}
            <li class="chapter active es-accordion accordion-hidden" data-level="1.2" data-path="{{site.baseurl}}{{col_page.url}}">
                {% else %}
            <li class="chapter es-accordion accordion-hidden" data-level="1.1" data-path="{{site.baseurl}}{{col_page.url}}">
                {% endif %}
                <a href="{{site.baseurl}}{{col_page.url}}" onclick="pageScrollToTop(this)">
                    {%- if col_page.sidebar_label -%}
                    {{col_page.sidebar_label | escape }}
                    {%- else -%}
                    {{ col_page.title | escape }}
                    {%- endif -%}
                </a>
                {% if site.toc.enabled %}
                {% if page.url == col_page.url %}
                {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                {% endif %}
                {% endif %}
            </li>
            {% endfor %}

            <li class="divider"></li>
            <li class="chapter"><h4>Event Modeling<span id="em-accordion" class="accordion-indicator"></span></h4></li>
            {% assign col_pages = site.event_modeling | sort: "toc_order" %}
            {% for col_page in col_pages %}
            {% if page.url == col_page.url %}
            <li class="chapter active em-accordion accordion-hidden" data-level="1.2" data-path="{{site.baseurl}}{{col_page.url}}">
                {% else %}
            <li class="chapter em-accordion accordion-hidden" data-level="1.1" data-path="{{site.baseurl}}{{col_page.url}}">
                {% endif %}
                <a href="{{site.baseurl}}{{col_page.url}}" onclick="pageScrollToTop(this)">
                    {%- if col_page.sidebar_label -%}
                    {{col_page.sidebar_label | escape }}
                    {%- else -%}
                    {{ col_page.title | escape }}
                    {%- endif -%}
                </a>
                {% if site.toc.enabled %}
                {% if page.url == col_page.url %}
                {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                {% endif %}
                {% endif %}
            </li>
            {% endfor %}

            <li class="divider"></li>
            <li class="chapter"><h4>Cody - The Coding Bot<span id="co-accordion" class="accordion-indicator"></span></h4></li>
            {% assign col_pages = site.cody | sort: "toc_order" %}
            {% for col_page in col_pages %}
            {% if page.url == col_page.url %}
            <li class="chapter active co-accordion accordion-hidden" data-level="1.2" data-path="{{site.baseurl}}{{col_page.url}}">
                {% else %}
            <li class="chapter co-accordion accordion-hidden" data-level="1.1" data-path="{{site.baseurl}}{{col_page.url}}">
                {% endif %}
                <a href="{{site.baseurl}}{{col_page.url}}" onclick="pageScrollToTop(this)">
                    {%- if col_page.sidebar_label -%}
                    {{col_page.sidebar_label | escape }}
                    {%- else -%}
                    {{ col_page.title | escape }}
                    {%- endif -%}
                </a>
                {% if site.toc.enabled %}
                {% if page.url == col_page.url %}
                {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                {% endif %}
                {% endif %}
            </li>
            {% endfor %}

            <li class="divider"></li>
            <li class="chapter"><h4>Cody Play<span id="cp-accordion" class="accordion-indicator"></span></h4></li>
            {% assign col_pages = site.cody_play | sort: "toc_order" %}
            {% for col_page in col_pages %}
            {% if page.url == col_page.url %}
            <li class="chapter active cp-accordion accordion-hidden" data-level="1.2" data-path="{{site.baseurl}}{{col_page.url}}">
                {% else %}
            <li class="chapter cp-accordion accordion-hidden" data-level="1.1" data-path="{{site.baseurl}}{{col_page.url}}">
                {% endif %}
                <a href="{{site.baseurl}}{{col_page.url}}" onclick="pageScrollToTop(this)">
                    {%- if col_page.sidebar_label -%}
                    {{col_page.sidebar_label | escape }}
                    {%- else -%}
                    {{ col_page.title | escape }}
                    {%- endif -%}
                </a>
                {% if site.toc.enabled %}
                {% if page.url == col_page.url %}
                {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                {% endif %}
                {% endif %}
            </li>
            {% endfor %}

            <li class="divider"></li>
            <li class="chapter"><h4>Cody Engine (beta)<span id="ce-accordion" class="accordion-indicator"></span></h4></li>
            {% assign col_pages = site.cody_engine | sort: "toc_order" %}
            {% for col_page in col_pages %}
            {% if page.url == col_page.url %}
            <li class="chapter active ce-accordion accordion-hidden" data-level="1.2" data-path="{{site.baseurl}}{{col_page.url}}">
                {% else %}
            <li class="chapter ce-accordion accordion-hidden" data-level="1.1" data-path="{{site.baseurl}}{{col_page.url}}">
                {% endif %}
                <a href="{{site.baseurl}}{{col_page.url}}" onclick="pageScrollToTop(this)">
                    {%- if col_page.sidebar_label -%}
                    {{col_page.sidebar_label | escape }}
                    {%- else -%}
                    {{ col_page.title | escape }}
                    {%- endif -%}
                </a>
                {% if site.toc.enabled %}
                {% if page.url == col_page.url %}
                {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                {% endif %}
                {% endif %}
            </li>
            {% endfor %}

            <li class="divider"></li>
            <li class="chapter"><h4>Board Workspace<span id="ws-accordion" class="accordion-indicator"></span></h4></li>
            {% assign col_pages = site.board_workspace | sort: "toc_order" %}
            {% for workspace_page in col_pages %}
            {% if page.url == workspace_page.url %}
            <li class="chapter active ws-accordion accordion-hidden" data-level="1.2" data-path="{{site.baseurl}}{{workspace_page.url}}">
                {% else %}
            <li class="chapter ws-accordion accordion-hidden" data-level="1.1" data-path="{{site.baseurl}}{{workspace_page.url}}">
                {% endif %}
                <a href="{{site.baseurl}}{{workspace_page.url}}" onclick="pageScrollToTop(this)">
                    {%- if page.sidebar_label -%}
                    {{page.sidebar_label | escape }}
                    {%- else -%}
                    {{ workspace_page.title | escape }}
                    {%- endif -%}
                </a>
                {% if site.toc.enabled %}
                {% if page.url == workspace_page.url %}
                {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                {% endif %}
                {% endif %}
            </li>
            {% endfor %}

            <li class="divider"></li>
            <li class="chapter"><h4>Organization & Teams<span id="og-accordion" class="accordion-indicator"></span></h4></li>
            {% for col_page in site.access_management %}
            {% if page.url == col_page.url %}
            <li class="chapter active og-accordion accordion-hidden" data-level="1.2" data-path="{{site.baseurl}}{{col_page.url}}">
                {% else %}
            <li class="chapter og-accordion accordion-hidden" data-level="1.1" data-path="{{site.baseurl}}{{col_page.url}}">
                {% endif %}
                <a href="{{site.baseurl}}{{col_page.url}}" onclick="pageScrollToTop(this)">
                    {%- if col_page.sidebar_label -%}
                    {{col_page.sidebar_label | escape }}
                    {%- else -%}
                    {{ col_page.title | escape }}
                    {%- endif -%}
                </a>
                {% if site.toc.enabled %}
                {% if page.url == col_page.url %}
                {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                {% endif %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </nav>
    <footer>
        <p class="markdown-section">
            Join the community on <a href="https://www.linkedin.com/groups/9135097/" target="_blank" rel="noopener noreferrer">LinkedIn</a>.<br/>
            <br/>
            <a href="https://github.com/proophboard/issue-tracker/issues">Issues & RFCs</a> | <a href="https://www.youtube.com/channel/UCZTiz3e08bPRqA23vkIoBEQ">Youtube Channel</a><br/>
        </p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/codeliner">codeliner</a></small></p>
    </footer>
</div>
