/* Sidebar */
#logo-container {
    width: 100%;
    padding: 10px 15px;
    height: 200px;
}

nav {
    height: auto;
    max-height: calc(100% - 400px);
    overflow-y: auto;
}

nav li.chapter h4 {
    padding: 10px 15px;
    margin: 0;
}

.book-summary ul.summary li a:hover {
    text-decoration: none;
    color: #008cff;
}

footer {
    width:300px;
    border-top: 1px solid rgba(0,0,0,.07);
    padding: 10px 15px;
    position:fixed;
    bottom:0;
    height: 130px;
    -webkit-font-smoothing:subpixel-antialiased;
}

.chapter.active ul li {
    border-left: 2px solid rgba(54, 65, 73, 0.22);
}

.chapter.active ul li.active {
    border-left: 2px solid #008cff;
}

/* Lightbox */
.lightbox-indicator {
    float: right;
    top: 50px;
    right: 20px;
    position: relative;
}

.lightbox-indicator::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E");
}


/* Positioning */
.block-center {
    margin: 0 auto;
    display: block;
}

/* Formatting */
p.small, p em.small {
    font-size: small;
}

img.card {
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

img.card.horizontal {
    width: 100px;
}

img.card.vertical {
    height: 70px;
}

strong.bg {
    padding: 0 5px;
}

strong.bg.event {
    background-color: #FF9F4B;
}

strong.bg.command {
    background-color: #26C0E7;
}

strong.bg.actor {
    background-color: #f7f727;
}

strong.bg.aggregate {
    background-color: #F5E339;
}

strong.bg.information {
    background-color: #73dd8e;
}

strong.bg.policy {
    background-color: #EABFF1;
}

strong.bg.hot_spot {
    background-color: #f31d30;
}

strong.bg.external_system {
    background-color: #ec98ac;
}

strong.bg.ui {
    background-color: #000000;
    color: white;
}

/* Sidebar Nav Accordion */
ul.summary li.chapter h4 {
    cursor: pointer;
}

ul.summary li.chapter h4:hover {
    cursor: pointer;
    color: #008cff;
}

.accordion-hidden {
    display: none;
}

.accordion-visible {
    display: block;
}

.book-summary ul.summary li span.accordion-indicator {
    float: right;
    right: 20px;
    position: relative;
    display: inline-block;
    padding: 0;
    cursor: pointer;
}

.accordion-indicator::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    display: block;
    transition: all 0.5s ease;
}

.accordion-indicator.open::before {
    transform: rotate(90deg);
    transition: all 0.5s ease;
}



/* Bootstrap-like Alerts */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
}

.alert .alert-link {
    font-weight: bold;
}

.alert > p,
.alert > ul {
    margin-bottom: 0;
}

.alert > p + p {
    margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
    padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.alert-success hr {
    border-top-color: #c9e2b3;
}

.alert-success .alert-link {
    color: #2b542c;
}

.alert-success::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%233c763d' viewBox='0 0 16 16' role='img' aria-label='Success:'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z'/%3E%3C/svg%3E");
    padding-right: 10px;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.alert-info hr {
    border-top-color: #a6e1ec;
}

.alert-info .alert-link {
    color: #245269;
}

.alert-info::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%2331708f' viewBox='0 0 16 16' role='img' aria-label='Info:'%3E%3Cpath d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z'/%3E%3C/svg%3E");
    padding-right: 10px;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.alert-warning hr {
    border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
    color: #66512c;
}

.alert-warning::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%238a6d3b' viewBox='0 0 16 16' role='img' aria-label='Warning:'%3E%3Cpath d='M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z'/%3E%3C/svg%3E");
    padding-right: 10px;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.alert-danger hr {
    border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
    color: #843534;
}

.alert-danger::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23a94442' viewBox='0 0 16 16' role='img' aria-label='Warning:'%3E%3Cpath d='M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z'/%3E%3C/svg%3E");
    padding-right: 10px;
}

/* Bootstrap-like Button */
.btn {
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;

    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn:focus,
.btn:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
}
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    text-decoration: none;
}
.btn-default:focus {
    color: #333;
    text-decoration: none !important;
    border-color: #1c80dc;
}
.btn-default:hover {
    color: #333;
    text-decoration: none !important;
    border-color: #1c80dc;
}
.btn-default:active {
    color: #333;
    text-decoration: none !important;
    border-color: #1c80dc;
}

/* Paragraph Linking */
.paragraph-link {
    position: absolute;
    left: -15px;
    margin-top: 2px;
    opacity: 0;
    transition: opacity 500ms;
}

.markdown-section a.paragraph-link:hover, .markdown-section a.paragraph-link:focus {
    text-decoration: none;
}

h1:hover .paragraph-link, h2:hover .paragraph-link, h3:hover .paragraph-link {
    opacity: 1;
}

.paragraph-link.clicked {
    filter: brightness(150%);
    opacity: 1;
}

/* Youtube Video */

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
